@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  font-family: 'Almarai', sans-serif;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}

/* Additional styles */
.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.custom-leading-relaxed {
  line-height: 1.2; 
}

@media (min-width: 1024px) {
  .custom-leading-normal {
    line-height: 1.5; 
  }
}
